:root {
  /*
  *
  * Colors
  *
  */
  --color-white: #fff;
  --color-seashell: #f1f1f1;
  --color-silverChalice: #a7a7a7;
  --color-boulder: #767676;
  --color-mineShaft: #222;
  --color-spindleapprox: #abc8ea;
  --color-alto: #d8d8d8;
  --color-endeavourapprox: #0656b4;
  --color-confettiapprox: #efd967;
}

/*
  *
  * Transition Duration
  *
  */

$transitionDuration: 0.4s;
